<!DOCTYPE html>
<html>
  <head>
    <title>GitPracticeProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <h1> This is a website about movies! </h1>
     <a href= './good'> Good </a>
     <a href= './bad'> Bad </a>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
